* {
    padding: 0px;
    margin: 0px;
    font-family: Poppins,sans-serif;
    box-sizing: border-box;
    text-wrap: wrap;
    flex-wrap: wrap;
}
body {
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    overflow: auto !important;
    padding-right: 0px !important;
}


/* drawer */
.drawer .MuiButtonBase-root {
    flex-grow: 0 !important;
  }
  
  .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
    -webkit-flex-grow: 0 !important;
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }
  
  .MuiPaper-root::-webkit-scrollbar {
    display: none;
  }
  
  .css-1drgtl0-MuiButtonBase-root-MuiIconButton-root:hover {
    border-radius: 0px !important;
  }
  .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
    border-radius: 0px !important;
  }
  .css-1tny64w-MuiModal-root-MuiDrawer-root .MuiDrawer-paper ,.css-1xcehlr-MuiDrawer-docked .MuiDrawer-paper , .css-12axqwi-MuiModal-root-MuiDrawer-root .MuiDrawer-paper {
    height: 100vh !important;
  }
  
  .css-1cxcwo2-MuiModal-root-MuiDrawer-root .MuiDrawer-paper {
    background-color: #151b23 !important;
  }
  
  .css-1cxcwo2-MuiModal-root-MuiDrawer-root .MuiDrawer-paper  a {
    color: white !important;
    padding: 20px 40px !important;
    text-decoration: none !important;
    font-size: 13px !important;
    font-weight: bold;
    transition: 0.5s;

  }

  .css-1cxcwo2-MuiModal-root-MuiDrawer-root .MuiDrawer-paper  a:hover {
    color:  #6f41c0 !important;
    transition: 0.5s;

  }
  /* .drawer  {
    position: relative;
  } */
  /* .drawer  .dropdown{

    transform: translateX(0px) ;
    height: 100vh;
    flex-direction: column;
    scale: 1 !important;

  } */

/*   
.drawer .dropdown .item {
    width:  240px !important;
    color: white !important;
    background-color: red;
    z-index: 100;
    
} */
