.home {
  min-height: 95vh;
  /* background-image: url("../assets//images/background.webp"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  padding-top: 150px !important;
}
.logDrawer img {
  padding: 10px;

  width: 170px;

}
.logDrawer a {
  display: flex;
  align-items: center;
}

.create {
  width: 200px;
  background-color: #663cb1 !important;
  padding: 20px 40px !important;
  border-radius: 30px !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center;
  margin-top: 25px;
  transition: 1s;
}
.create:hover {
  background-color: #512e8c !important;
  transition: 1s;
}

.footer a {
  color: white !important;
  text-decoration: none !important;
  display: block !important;
  margin: 20px auto !important;
  font-size: 13px !important;
}
.footer .margin {
  margin: 6px auto !important;
}
.footer h4 {
  font-size: 20px !important;
}
.footer h6 {
  font-size: 13px !important;
  font-weight: bold;
  margin-top: 30px !important;
}
.footer p {
  margin: 10px auto !important;
  font-size: 13px !important;
}
.footer svg {
  width: 35px;
  height: 35px;
  color: white;
  background-color: #333;
  border-radius: 100%;
  padding: 10px;
  margin: 15px 5px;
  font-size: 20px !important;
}

.footer svg:hover {
  background-color: #512e8c !important;
  transition: 0.5s !important;
  cursor: pointer;
}
.header a {
  color: white !important;
  text-decoration: none !important;
  padding: 10px 20px !important;
  transition: 1s !important;
  display: flex;
  align-items: center;
}
.active header {

  background-color: black !important;
  transition: 1s ;

}
.lang {
  position: relative;
  padding: 10px 20px;
}
.lang .drop {
  position: absolute;
  background-color:#663cb1;
  color: white;
  width: 140px;
  scale: 0;
  top: 60px;
  transition: 0.5s;
}
.lang:hover .drop {
  transition: 0.5s;
  scale: 1;
}
.lang .drop p {
  padding: 10px;
  cursor: pointer;
}
.lang .drop p:hover {
  background-color: #512e8c;
}
.header a:hover {
  color: #512e8c !important;
  transition: 1s !important;
}
.header header {
  background-color: transparent;
  transition: 1s ;
  position: fixed !important;
}
.createA  {
  background-color: #663cb1 !important;
  color: white !important;
  display: flex !important;
  border-radius: 20px !important;
  transition: 1s !important;
  align-items: center;
}

.createA:hover {
  color: #512e8c !important;
  background-color: white !important;
  border: 2px solid #512e8c !important;
  transition: 1s !important;
}
.dropdown {
  width: 60vw !important;
  position: absolute !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0px;
  top: 70px;
  transform: translateX(-20vw);
  background-color: black;
  /* display: none !important; */
  scale: 0 !important;
  transition: 1s !important;
}
.menu:hover .dropdown {
  display: flex !important;
  top: 60px !important;
  transition: 1s !important;
  scale: 1 !important;
}
.dropdown .item {
  display: flex !important;
  padding: 20px;
}

.dropdown .item:hover {
  background-color: #673cb196;
  transition: 0.3s;
  cursor: pointer;
  color: white;
}
.dropdown .item h4 {
  font-size: 20px !important;
  font-weight: bold;
  margin: 20px auto;
}
.dropdown .item p {
  font-size: 14px !important;
  height: 100px !important;
}

.dropdown .item a {
  margin: 20px auto !important;
  display: block !important;
  padding: 0px !important;
}
.dropdown .row-tow .links {
  margin-top: 10px !important;
}
.dropdown .row-tow .links a {
  display: inline-block !important;
}
.dropdown .row-tow p {
  font-size: 14px !important;
}
.dropdown .row-tow h4 {
  font-size: 19px !important;
}
.dropdown .row-tow a:nth-child(1) {
  background-color: #663cb1 !important;
  color: white !important;
  padding: 0px !important;
  padding: 5px 20px !important;
  border-radius: 10px !important;
  display: inline-block !important;
  font-size: 12px !important;
  transition: 0.5s !important;
}
.dropdown .row-tow a:nth-child(1):hover,
.about-discover a:nth-child(1):hover,
.aboutBox a:nth-child(1):hover {
  background-color: #512e8c !important;
  transition: 0.5s !important;
}
.dropdown .row-tow a:nth-child(2),
.video a:nth-child(2),
.about-discover a:nth-child(2),
.aboutBox a:nth-child(2)  ,  .labtop a:nth-child(2) {
  color: white !important;
  font-size: 13px !important;
  position: relative;
  font-weight: bold;
  text-decoration: none;
  margin-left: 20px;
}
.dropdown .row-tow a:nth-child(2)::after,
.video a:nth-child(2)::after,
.about-discover a:nth-child(2)::after,
.aboutBox a:nth-child(2)::after , .labtop a:nth-child(2)::after {
  content: "" !important;
  width: 60% !important;
  left: 50%;
  transform: translateX(-50%);
  height: 2px !important;
  bottom: -5px !important;
  position: absolute !important;
  background-color: white !important;
  transition: 1s !important;
}
.dropdown .row-tow a:nth-child(2):hover::after,
.video a:nth-child(2):hover::after,
.about-discover a:nth-child(2):hover::after, .labtop a:nth-child(2):hover::after ,
.aboutBox a:nth-child(2):hover::after {
  width: 0px !important;
  transition: 1s !important;
}
.video h1 {
  text-align: center;
  color: white;
  font-weight: 700;
}
.video h5 {
  font-size: 100px !important;
  text-align: center;
  font-weight: 400;
  color: white;
}
.css-146xcat {
  width: 100% !important;
}
.video a:nth-child(1) , .blog .grid .left .item .two,
.about-discover a:nth-child(1),
.aboutBox a:nth-child(1),
.sections a,
.comma a,
.who a  , .protect a , .labtop a:nth-child(1) {
  background-color: #663cb1;
  color: white;
  padding: 15px 30px;
  border-radius: 30px;
  text-decoration: none;
  transition: 1s;
  font-size: 14px;
  margin: 25px;
  
}
.sections a  {
  display: block;
  width: 200px;
  margin-top: 20px;
  text-align: center;
}
.video a:nth-child(1):hover,
.about-discover a:nth-child(1):hover,
.sections a:hover,
.comma a:hover .blog .grid .left .item .two:hover,
.who a:hover , .protect a:hover , .labtop a:nth-child(1):hover ,  .blog .grid .left .item .two:hover{
  background-color: #512e8c;
  transition: 1s;
}

.video a:nth-child(2) {
  font-size: 15px !important;
}

.layer {
  background-color: rgba(0, 0, 0, 0.518);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
/* contact */
.image {
  background-color: black;
  padding: 30px;
}
.about-image {
  display: flex;
  align-items: center;
  background-image: url("../assets/images/Artboard.webp");
  height: 50vh;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}
.about-discover{
  background: black !important;
}
.about-discover .center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 500px;
}
.about-discover,
.driven {
  height: 70vh;
  background-image: url("../assets/images/Artboard.webp");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.driven h1 {
  font-size: 40px;
  font-weight: 400;
  margin-top: 30px;
}
.driven h1 .bold {
  font-weight: bold;
}
.driven h1 .line {
  display: block;
}
.driven {
  text-align: left;
  height: 100vh;
}

.driven p {
  font-size: 20px;
  line-height: 30px;
  margin-top: 50px;
}
.about-discover p {
  font-size: 20px;
  margin-bottom: 10px;
}
.about-discover h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
.about-discover h2 {
  font-size: 40px;
  margin-bottom: 10px;
}
.about-discover .links {
  margin-top: 40px;
}
.paragraph {
  min-height: 60vh;
  background-color: black;
  color: white;
  display: flex;
  padding: 50px 25px;
  align-items: center;
  justify-content: center;
}
.paragraph p {
  font-size: 20px;
  line-height: 30px;
}
.about-background {
  background-image: url("../assets/images/aboutComponent.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

.aboutBox p:nth-child(1) {
  font-size: 40px;
  color: white;
  font-weight: 400;
}
.aboutBox p:nth-child(1) span {
  font-weight: bold;
}
.aboutBox p:nth-child(2) {
  font-size: 20px;
  line-height: 30px;
  color: white;
  margin: 40px 0px;
}
.about-img {
  background-color: black;
}
.about-img h1 {
  color: white;
}
.about-img h1 span {
  font-weight: bold;
}
.person {
  position: relative;
  display: flex;
  overflow: hidden;
}
.person .layer {
  position: absolute;
  left: 0px;
  top: 0px;
  color: white;
  opacity: 0;
  transition: 1s;
}
.person .layer .border {
  border: 5px solid #512e8c;
  width: 300px;
  position: absolute;
  left: 30px;
  bottom: -200px;
  padding: 20px;
}
.person:hover .layer {
  opacity: 1;
  transition: 1s;
}
.person:hover .border {
  bottom: 30px;
  transition: 1s;
}

.person .layer .border p {
  margin-bottom: 10px;
  font-size: 13px;
}
.image img,
.about-image img {
  width: 380px !important;
}
.contact {
  min-height: 100vh;
  padding: 150px 0px !important;
  background-image: url("../assets/images/contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-attachment: scroll;
}
.contact .grid {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.contact .grid form {
  display: flex;
  flex-direction: column;
  border: 3px solid white;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.439);
}
form .submit {
  width: 150px;
  background-color: #663cb1;
  color: white;
  margin: 0px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
}
form .submit:hover {
  background-color: #512e8c;
  transition: 0.5s;
}
form h1 {
  margin: 20px 0px;
  font-size: 28px !important;
}
form span {
  color: red;
}
form input,
form textarea {
  padding: 10px;
  margin: 20px auto;
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  border: 3px solid white;
  border-radius: 5px;
  outline: none;
  transition: 0.5s;
  color: white;
  font-size: 20px;
}

.contact .left .one,
.contact .left .two,
.contact .left .three {
  font-size: 20px;
  line-height: 30px;
}
.contact .left .two,
.contact .left .three {
  margin-left: 10px;
}
.contact .left .two,
.contact .left .one {
  margin-top: 50px;
}
form input:focus,
form textarea:focus {
  border: 3px solid rgb(157, 43, 43);
  transition: 0.5s;
  scale: 1.02;
}
.contact h1 {
  color: white;
  font-size: 40px !important;
}
.country h1 {
  font-size: 45px !important ;
}
.country h2 {
  font-size: 30px !important;
  font-weight: 400;
}
.country .first {
  margin-top: 30px !important;
}
.country p {
  margin-top: 10px;
}
.country img {
  object-fit: cover;
}
/* price */
.price {
  background-color: #111;
  color: white;
}
.price .container {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.price .one {
  font-size: 15px;
  text-align: center;
  background-color: #1976d2;
  margin-bottom: 20px;
}
.price .two,
.price .three {
  font-size: 14px;
  color: #757575;
  text-align: center;
  margin-top: 10px;
}
.price .zero {
  background-color: #81c784;
  text-align: center;
  margin-bottom: 4px;
  font-size: 15px;
}
.price .signup {
  width: 150px;
  background-color: #1976d2;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  margin: 50px auto;
  text-decoration: none;
  text-align: center;
  display: block;
}
.price .signup:hover {
  background-color: #1976d2b5;
  transition: 0.5s;
}
.price h2 {
  text-align: center;
  margin: 30px;
  font-size: 40px;
  color: #81c784;
}
.price h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.price .box {
  background-color: #222;
}
.price .four {
  color: #81c784;
  padding-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.price .five,
.price .bold {
  padding-left: 25px;
  font-size: 13px;
  font-weight: bold;
}
.price .all {
  padding-left: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin: 20px;
  display: flex;
  align-items: center;
  width: 200px;
  border-radius: 3px;
}
.price .all:hover {
  background-color: rgba(255, 255, 255, 0.332);
  transition: 0.5s;
}
.ask-footer p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ask-footer svg {
  font-size: 25px;
  width: 20px;
  color: rgb(127, 188, 34);
  margin-left: 5px;
  margin-right: 5px;
}
.ask-footer a {
  color: white;
}
/* 
sections */

.sections .one {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(102, 60, 166, 1)
  ) !important;
}
.sections .two {
  background-image: linear-gradient(
    to bottom,
    rgba(102, 60, 166, 1),
    rgba(0, 0, 0, 1)
  ) !important;
}
.sections h1 {
  margin-bottom: 20px;
}
.sections h2 {
  font-weight: lighter;
  font-size: 25px;
  margin-bottom: 20px;
}
.sections ul li {
  margin: 10px 35px;
}
.sections p {
  font-size: 19px;
  margin: 20px auto;
  line-height: 30px;
}
.sections .small {
  font-size: 12px;
}
.AI-bg {
  min-height: 100vh;
  padding: 30px;
  background-image: url("../assets/images/BG-Image.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.AI-bg .p {
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 950px) {
  .video h1 {
    font-size: 50px;
  }
  .video h5 {
    font-size: 40px !important;
  }
  .robo-way .line::after {
    display: none;
  }
  .robo-way h1 {
    font-size: 40px !important;
  }
}

.robo-way {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 50px;
}
.robo-way h1 {
  margin: 30px auto 50px auto;
  font-size: 50px;
}
.robo-way img {
  width: 100px;
  margin: auto;
  z-index: 9;
}
.robo-way .one {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}
.robo-way .item {
  background-color: transparent;
  z-index: 10;
}
.robo-way .two {
  text-align: center;
  font-size: 15px;
}
.robo-way .line {
  position: relative;
}
.robo-way .line::after {
  content: "";
  position: absolute;
  width: 100%;
  border-top: 4px dotted white;
  top: 38%;
  z-index: 0;
}
/* legal */
.legal-top {
  height: 60vh;
  background-image: url("../assets/images/download.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  display: flex;
  align-items: center;
}
.legal-top h1 {
  color: white;
  text-wrap: wrap;
}
.data h1 {
  /* font-size: 45px; */
  font-weight: 400;
  margin-bottom: 10px;
}
.data p {
  font-size: 17px;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 30px;
}
.data ul li {
  font-size: 17px;
  margin-top: 8px;
  line-height: 30px;
}
.data a {
  text-decoration: none;
  color: #663cb1;
  transition: 1s;
  font-weight: bold;
}
.data a:hover {
  color: #512e8c;
  transition: 1s;
}
.data h3 {
  font-size: 25px;
  margin-bottom: 25px !important;
  margin-top: 80px !important;
}

.data ul {
  margin-left: 40px;
}
.data table {
  background-color: white;
}
.data table td {
  color: black;
  font-size: 16px;
}
.data .bold {
  font-weight: bold;
  font-size: 19px;
}

.comma {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  text-align: center;
  min-height: 60vh;
  background-image: url("../assets/images/comma.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  padding: 40px 20px;
}
.comma span {
  fill: white !important;
}
.comma h1 {
  margin: 30px;
  width: 90%;
}
.who {
  min-height: 80vh;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.who h1 {
  font-size: 50px;
}
.who p {
  margin-top: 20px;
}
.ourBlog {
  background-image: url("../assets/images/blog.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: black;
  padding: 0px 50px;
  flex-direction: column;
}
.ourBlog img {
  width: 100%;
  height: 270px;
}
.ourBlog a {
  font-size: 27px;
  font-weight: bold;
  text-decoration: none;
  color: #663cb1;
  padding: 20px;
  display: block;
}
.ourBlog a:hover {
  color: #512e8c;
  transition: 0.5s;
}
.ourBlog .item {
  background-color: white;
}
.ourBlog .one {
  color: #757575;
  font-size: 15px;
  padding: 20px;
}
.ourBlog .two {
  font-size: 20px;
  padding: 0px 20px;
}
.ourBlog .read {
  font-size: 13px;
  display: inline-block;
}
.ourBlog h1 {
  font-size: 50px;
  color: white;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.css-1ugbesz {
  fill: white;
  background-color: black !important;
  transition: 1s;
}

.css-1ugbesz:hover {
  fill: #512e8c;

  transition: 1s;
}

.login {
  min-height: 100vh;
  background-image: url("../assets/images/loginBack.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.login .box {
  background-color: #333333c7;
  margin: auto !important;
  display: flex;
  align-content: center !important;
  padding: 40px;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login img {
  width: 200px;
  margin: 15px;
}
.login .one {
  color: white;
  font-size: 15px;
}
.login .btn {
  width: 400px;
  position: relative;
  background-color: #1e1e1e80;
  display: flex;
  box-shadow: 1px 1px 2px #222;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin: 30px;
  border-radius: 5px;
  color: white;
  gap: 15px;
  min-height: 350px;
  align-items: center;
}
.login .btn button {
  width: 230px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  box-shadow: 1px 1px 2px #222;
  border-radius: 2px;
  text-align: left;
  display: flex;
  padding: 10px;
  text-transform: capitalize;
}
.login .btn button span {
  width: 190px;
  display: inline-block;
  padding-left: 10px;
}

.login .btn button:nth-child(1) {
  background-color: rgb(219, 68, 55);
}
.login .btn button:nth-child(2) {
  background-color: white;
  color: #757575;
}
.login .btn button:nth-child(3) {
  background-color: rgb(66, 72, 116);
}
.login a {
  color: #1976d2;
}
.login iframe {
  height: 220px;
  width: 400px;
}
.login .two {
  margin-top: 20px;
  font-size: 12px;
  color: #757575;
}

.login .two a {
  font-size: 12px !important;
  text-decoration: none;
}
.login .two a:hover {
  text-decoration: underline;
}
.login .btn img,
.login .model img {
  height: 18px;
  width: 18px;
  padding: 0px;
  margin: 0px;
}
.login .midp {
  color: hsla(0, 0%, 100%, 0.7) !important;
  font-size: 15px;
  margin-top: 20px;
}
/* 
.model {
  background-color: #333;
  position: absolute;
  display: flex;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  justify-content: center;
  z-index: 100;
  gap: 10px;
  padding-top: 30px;
  border-radius: 5px;
  display: none;
}
.model h1 {
  font-size: 18px;
  margin-bottom: 10px;
}
.model .row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.model input,
.model input:focus,
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
  width: 300px;
  background-color: transparent !important;
  fill: transparent !important;
}

.model .row svg {
  width: 22px;
  margin: 10px;
  display: inline-block;
  height: 22px;
}

.model .bottom .left a {
   font-size: 13px;
   flex-grow: 1;
}
.model .bottom .right  {
  display: flex;
  flex-grow: 2;
  gap: 10px;
}
.model .bottom .right button
 {
  padding: 0px;
  width: 110px;
  background-color: #222 !important;
  display: inline-block;
  color: white;
  text-align: center;
  border-radius: 4px;
  border: none;
}
.model .bottom .right button:nth-child(1) {
  padding: 8px ;

}


.model .bottom .right button input {
  width: 100%;
  height: 100%;
  padding: 8px;
  color: white;
  border: none;
  outline-color: white ;
  border-color: white;

}
.model .bottom {
  position: absolute;
  left: 10px;
  bottom: 10px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 */
/* 
blog top */

.blog .top {
  height: 90vh;
  background-image: url("../assets/images/blogBack.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-attachment: scroll;
  display: flex; 
  align-items: center;
}
.blog .back {
  border-radius: 10px;
  background-image: url(https://www.roboshadow.com/hubfs/Robo%20Shadow%20Blog.webp);
    background-position: 50px bottom;
    background-size: cover!important;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.7);
    margin-left: 70px;
    max-width: 900px;
    padding: 100px 50px 0 0;
  color: white;
  display: flex;
  align-items: center;

}
.blog .back .parent h1 {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 45px;
  font-weight: lighter;

}
.blog .back .parent p {
  font-size: 20px;
  line-height: 30px;
}

.blog .back .parent  {
  position: relative;
  border-radius: 10px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.563);
}
.blog .back .parent span {

  background-color: #663cb1;
  position: absolute;
  padding: 8px;
  top:0px;
  font-size: 13px;
}
.blog .grid {
  padding-left: 40px;
  padding-right: 40px;
  background-color: black;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.blog .grid form {
  color: white;
}
.blog .grid .left img {
  width: 100%;
  min-height: 300px;
  max-height: 350px;
  object-fit: cover;
  left: 0px;
  top: 0px;
}
.blog .grid .left span {
  background-color: #663cb1;
  color: white;
  cursor: pointer;
  padding: 8px ;
  transition: 0.7s;
  font-size: 13px;
  position: absolute;
  top: 0px;
  left: 40px;
}
.blog .grid .left span:hover {
  background-color: #512e8c;
  transition: 0.7s;

}
.blog .grid .left .item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog .grid .left .item .one {
  color: white;
  text-decoration: none;
  font-size: 30px;

}
.blog .grid .left .item .two {
  width: 180px;
  text-align: center;
}

.blog .grid .left .item .links {
  overflow: hidden;
  z-index: 10000;
  padding: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.blog .right  ul li , .blog .right h2  {
  color: white;
}
.blog .right h2 {
  margin-bottom: 8px;
  margin-top: 20px;
}
.blog .right .sub{
  background-color: #663cb1;
  width: 150px;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
  
}
.blog .right .sub:hover {
  background-color:#512e8c;
  transition: 0.5s;
}
.blog .right  ul li a{
  text-decoration: none;
  border: 2px solid white;
  width: 200px;
  padding: 5px;
  display: block;
  margin-top: 8px;
  border-radius: 3px;
  color: white;

  /* background-color: red; */

}




/* 

mobile

*/
/* 
.self-mob {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  min-height: 60vh;
}
.self-mob .item {
  background-image: url("../assets//images/BG-2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
} */


.protect {
  padding: 50px 30px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(102, 60, 166, 1)) !important;
}
.protect h1 {
  font-size: 40px;
  color: white;

}
.protect p {
  color: white;
  font-size: 20px ;
  margin: 20px 0px;
}

ul {
  margin: 0px 30px;
}
ul li {

  font-size: 17px;
  color: white;
  margin: 10px;
}
.protect .two {
  font-size: 17px;
  margin: 40px 0px;
}

.labtop {
  text-align: center;
  height: 100vh;
  background-image: url("../assets/images/CTA.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  color: white;
  display: flex;
  justify-content: center;
  padding: 50px 25px;
}
.labtop p {
  margin: 20px 0px;
  font-size: 20px;
}
.labtop h2 {
  font-size: 40px;
}
.labtop .links {
  margin-top: 40px;
}
.lay {
  background-color: black;
  min-height: 80vh;
  position: relative;
}
.lay .item {
  padding: 40px;
  padding-bottom: 50px;
  color: white;
  position: relative;
  background-image: url("../assets/images/BG-2.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  overflow: hidden;
  
  
}
.lay .layery .one {
  margin-bottom: 70px !important;
}
.lay .layery {
  left: 0px;
  top: 0px;
  padding: 40px;
position: absolute;
  transform: translateY(58%);
  width: 100%;
  height: 100%;


}
.lay .item:hover .layery{
  transform: translateY(0);
  transition: 0.5s;
  background-color: #663cb1;

}
.lay .item:hover  .one  {
  margin-bottom: 10px !important;
}
.lay .item svg {
  width: 50px !important;
  height: 50px;
  margin-bottom: 15px;
}
.lay .item .one {
  font-size: 22px;
  margin-bottom: 10px;
}
.lay .item h1 {
  font-size: 35px;
}
.lay .item p {
  font-size: 20px;
  line-height: 30px;
}

.drawer .dropdown {
  scale: 1;
  width: 240px !important;
  right: 0px !important;
  transform: translateX(0vw) !important;
  display: flex !important;
  flex-direction: column !important;


}
.drawer .dropdown .item {

  padding: 10px !important;
  
  width: 100% !important;
}

.model-one {
  position: relative;
  min-width: 400px;
  background-color: #1e1e1e80;
  z-index: 100;
  padding: 20px 10px;
  margin: 30px;
  color: white;
   border-radius: 5px;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

}

.model-one h1  {
  padding: 5px;
  font-size: 18px !important;

}
.model-one .div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.model-one .right input[type="button"]  , .model-one .right input[type="submit"]  {
width: 100px !important;
font-size: 15px;
height: 43.2 !important;
background-color: #111;
color: white;
border-radius: 4px !important;
box-shadow: 1px 1px 1px #222 !important;
border: none !important;
outline: none !important;
cursor: pointer;

}
.model-one   .right {
  display: flex;
}
.model-one input {
  width: 300px;
  border: none !important;
  outline: none !important;
  margin-left: 5px;
  padding: 10px;
  margin-right: 5px ;
  border-bottom: 3px solid #757575 !important;
  background-color: #222;
  border-radius: 0px !important;
}
.model-one .div .left a {
  font-size: 15px !important;
}

.model-one input:focus {
  transition: 0.5s;
  border-bottom: 3px solid rgb(162, 41, 41) !important;
}
.model-one svg {
  width: 25px;
}
.btn {
  position: relative;
  align-content: center;
}
.trouble {

  align-items: flex-start !important;
  width: 400px;
}
.trouble input {
  width: 300px;
  border-bottom: 3px solid #757575 !important;
  color: white;

}
.trouble h2 {
  font-size: 16px  !important;
  margin-bottom: 20px;
}

.trouble p {
  text-align: start !important;
  color: #757575 !important;
  font-size: 14px;
  line-height: 20px;
}
.trouble .right input[type="button"]  , .trouble .right input[type="submit"] 
{
  padding: 15px;
  border: none !important;
cursor: pointer;
transition: 0.5s;

  
}

.trouble .right input[type="button"]:hover  , .trouble .right input[type="submit"]:hover,
.model-one .right input[type="button"]:hover  , .model-one .right input[type="submit"]:hover {
  background-color: #333;
transition: 0.5s;

}
.trouble .div, .trouble .right {
  margin-top: 20px;

}
/* 
.model-two {
  min-height: 450px !important;
} */
.icons:hover a svg {
  fill: #663cb1 !important;
  transition: 0.5s !important;
 }
/*
@media only screen and (max-width:992) {

  .data h1 {
    font-size: 34px !important;
  }
} */


/* drawer */
.drawer .MuiButtonBase-root {
  flex-grow: 0 !important;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
  -webkit-flex-grow: 0 !important;
  -ms-flex-positive: 0 !important;
  flex-grow: 0 !important;
}

.MuiPaper-root::-webkit-scrollbar {
  display: none;
}

.css-1drgtl0-MuiButtonBase-root-MuiIconButton-root:hover {
  border-radius: 0px !important;
}
.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  border-radius: 0px !important;
}
.css-1tny64w-MuiModal-root-MuiDrawer-root .MuiDrawer-paper ,.css-1xcehlr-MuiDrawer-docked .MuiDrawer-paper , .css-12axqwi-MuiModal-root-MuiDrawer-root .MuiDrawer-paper {
  height: 100vh !important;
}

.css-1cxcwo2-MuiModal-root-MuiDrawer-root .MuiDrawer-paper {
  background-color: #151b23 !important;
}

.css-1cxcwo2-MuiModal-root-MuiDrawer-root .MuiDrawer-paper  a {
  color: white !important;
  padding: 20px 40px !important;
  text-decoration: none !important;
  font-size: 13px !important;
  font-weight: bold;
  transition: 0.5s;

}

.css-1cxcwo2-MuiModal-root-MuiDrawer-root .MuiDrawer-paper  a:hover {
  color:  #6f41c0 !important;
  transition: 0.5s;

}